.container {
  min-height: 100vh;
}

input[type="datetime-local"] {
  display: inline-block;
  width: auto;
  max-width: 100%;
}

input[type="checkbox"] {
  position: relative;
  visibility: hidden;
  width: 1.16125rem;
  height: 1.25rem;
  font-size: 1.25rem;
  line-height: 1;
}

input[type="checkbox"]::after {
  position: absolute;
  top: 3px;
  left: -2px;
  display: inline-block;
  visibility: visible;
  width: 1.16125rem;
  height: 1.25rem;
  color: #868e96;
  font-family: FontAwesome;
  content: "\f096";
}

input[type="checkbox"]:checked {
  visibility: hidden;
}

input[type="checkbox"]:checked::after {
  content: "\f046";
  color: #28a745;
}

time {
  font-size: 85%;
}